.container-auto-width-cursos {
    margin: 0 auto;
    @include auto-width(95%, 95%, 100%);
}

$search-form-padding: 5px;

.search-form {
  display: flex;
  justify-content: center;
  width: 100%;

  .search-bar {
    display: flex;
    flex-grow: 1;
    padding: $search-form-padding;

    input.custom-search {
      width: 100%;
      padding: $search-form-padding;
      font-size: 14px;
      border: 1px solid #ccc;
      border-radius: 4px 0 0 4px;
    }

    button {
      padding: $search-form-padding * 2 $search-form-padding;
      font-size: 14px;
      background-color: #034906;
      color: #fff;
      border: none;
      border-radius: 0 4px 4px 0;
      cursor: pointer;
      width: 20%;
    }
  }
}


.cursos-lista {
    margin: 50px 0;

    .curso-item {
        position: relative;
        height: 300px;
        background-position: center;
        background-size: cover;
        padding: 30px;
        margin-bottom: 30px;
        background-color: $grey-base;

        .d-table {
            position: relative;
            z-index: 1;
        }

        h4 {
            a {
                font-size: 24px;
                color: #fff;
            }
        }

        .curso-overlay {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background-color: rgba($color: #000000, $alpha: 0.5);
            z-index: 0;
        }
    }
}

.curso-duration {
    padding: 10px;
    margin: 0;
    background-color: #00ac7d;
    color: #fff;
    font-size: 20px;
    text-transform: uppercase;
    display: inline-block;
}

.banner-title {
    font-size: 22px;
    color: #fff;
    text-transform: uppercase;
    margin: 40px 0 20px;

    @include auto-width(30%, 50%, 70%, 80%);
}

.descricao-curso {
    font-size: 18px;
    text-align: center;
    padding: 70px 0;
}

.como-participar {

    padding: 120px 0;
    background-color: $grey-base;

    h6 {
        font-size: 56px;
    }

    h6 + p {
        font-size: 18px;
        position: relative;
        left: 200px;
    }
}

.required-item {
    margin-bottom: 20px;
    font-size: 18px;
    img {
        display: inline-block;
        margin-right: 10px;
        width: 30px;
        float: left;
    }
}

.conteudo-programatico.curso-single {
    p {
        margin-left: 200px;
    }
}

.depoimentos-cursos {
    background-color: $grey-base;
    padding: 50px 0 0;

    p {
        padding: 0px 0 20px;
        font-size: 18px;
        color: #000;
    }
    p.quote {
        padding: 0;
        font-size: 40px;
    }
}

.depoimentos + .footer {
    margin-top: 0;
    background-color: #fff;
}

.cursos-section.catalogo {
    margin-bottom: 80px;
    padding-bottom: 80px;
}

.catalogo-item {

    .catalogo-item-letter {
        font-size: 28px;
        font-weight: bold;
    }

    .catalogo-item-link {
        a {
            color: #000;
            font-size: 12px;
        }
    }

}

.curso-cancelado {
    background-color: red;
    color: #fff;
    font-weight: bold;
    text-align: center;
    padding: 2px;
    margin-top: 10px;
}
