.footer {
    margin-top: 20px;
    padding: 40px 0;
    background-color: $grey-base;
    border: 3px solid black;

    .logo-footer {
        position: relative;
        top: 10px;
        border: 3px solid red;

    }

    .address {
        padding-top: 20px;

        p {
            margin-bottom: 0;
            font-size: 16px;
        }
    }

    .footer-icons {

        padding-top: 20px;
        a {
            display: inline-block;
            margin-left: 5px;
            border: 3px solid gold;

        }

        @include tablet {
            text-align: center !important;
        }
    }
}
