/* colors */

$green-dark: #00462e;
$green-base: #005c3c;
$green-light: #0d6446;
$green-lighter: #00ac68;

$grey-base: #eeeeee;
$grey-dark: #cccccc;
$grey-darker: #777;

$ubuntu-font: 'Ubuntu', sans-serif;

