.maintenance-body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    text-align: center;
    border: 1em solid green;
    margin: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;

    .img-container {
        margin: 20px;
    }

    .img-logo {
        max-width: 40%;
    }

    /* Estilo do cabeçalho */
    h1 {
        font-size: 36px;
        color: #333;
        margin-bottom: 10px;
    }

    /* Estilo do parágrafo */
    p {
        font-size: 18px;
        color: #666;
    }
}


