.ATeG {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 24px;
	color: #346454;
}
.Texto {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #FFFFFF;
	white-space: normal;
	letter-spacing: normal;
	line-height: 20px;
}
.inscreva {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 24px;
	color: #FFFFFF;
}
.verde {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 24px;
	color: #7AA839;
}
